<% layout('layout/boilerplate.ejs') %>

<form action="/confirm-code" method="post">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <input type="text" placeholder="enter code" required name="code" class="form-control">

    <button class="btn btn-warning" type="submit">Enter</button>
</form>