<% layout('layout/boilerplate') %>
<h2>Forgot Password</h2>
<h5>Enter Email</h5>

<form action="/send-reset-code" method="post" class="needs-validation" no-validate>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" required>

    <button class="btn btn-secondary" type="submit">Send</button>
</form> 