<% layout('layout/boilerplate.ejs') %>

<form action="#" method="post" class="needs-validation" no-validate>
    <h2>Forgot Password</h2>
    <h5>Enter Email</h5>
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" required>

    <button class="btn btn-secondary" type="submit">Send</button>
</form> 