<% layout('layout/boilerplate.ejs') %>

<form action="/forgotten-password" method="POST" class="needs-validation" novalidate>
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="Enter Your Email" required>

    <button class="btn btn-primary m-2" type="submit">Enter</button>
</form>