<% layout('layout/boilerplate.ejs') %>

<form action="/register" class="row g-3 needs-validation" novalidate>
    <label for="username" class="form-label">Username</label>
    <input type="text" class="form-control" name="username" id="username" required>
</form>