<% layout('layout/boilerplate.ejs') %>

<h3>Enter Reset Code</h3>
<span>A code Was sent to your email</span>

<form action="/resetCode">
    <label for="resetCode" class="form-label">Reset Code</label>
    <input type="text" class="form-control" name="resetCode" id="resetCode">

    <button class="btn btn-warning m-2">Enter</button>
</form>