<% layout('layout/boilerplate.ejs') %>

<form action="/reset-password">
    <input type="text" name="newPassword" class="form-control" required placeholder="enter new pasword">
    <input type="text" name="confirmPassword" class="form-control" required placeholder="Retype the password">
</form>