<% layout('layout/boilerplate.ejs') %>

<form action="/reset-password" method="post">
    <input type="text" name="newPassword" class="form-control" required placeholder="enter new pasword">
    <input type="text" name="confirmPassword" class="form-control" required placeholder="Retype the password">

    <button class="btn btn-secondary">Change Password</button>
</form>