<% layout('./layout/boilerplate') %>

<form action="/user/complete-profile" method="post">
    <input type="hidden" name="_csrf" value="<%= locals.csrfToken || '' %>">

    <label for="displayName" class="form-labe">Display Name</label>
    <input type="text" name="displayName" class="form-control" id="displayName"  required>

    <label for="preferredCurrency" class="form-label">Preferred Currency</label>
    <input type="text" name="preferredCurrency" id="preferredCurrency" class="form-control" required>

    <label for="location" class="form-label">Location</label>
    <input type="text" name="location" id="location" class="form-control" required>

    <label for="bio" class="form-label">Bio</label>
    <textarea name="bio" id="bio" class="form-contrl" rows="3"></textarea>

    <button type="submit" class="btn btn-primary">Save</button>
</form>