<% layout('./layout/boilerplate') %>

<h2>Account</h2>
<div>Edit Your Account Settings and Change Password Here</div>

<form action="/user/edit-account" method="post" class="needs-validation" novalidate>
    <label for="currentPassword" class="form-label">Current Password</label>
    <input type="password" name="currentPassword" class="form-control" placeholder="Type Current Password" required>

    <label for="newPassword" class="form-label">New Password</label>
    <input type="password" class="form-control" name="newPassword" placeholder="New Password" required>

    <label for="confirmPassword" class="form-label">Confirm New Password</label>
    <input type="password" class="form-control" name="confirmPassword" placeholder="Retype New Password" required>

    <button class="btn btn-primary" type="submit">Change Password</button>
</form>
