<% layout('layout/boilerplate.ejs') %>

<form action="/logout" method="post">
    <button class="btn btn-warning">Logout</button>
</form>

<form action="/user/<%= user.displayName %>/delete?_method=delete" method="post">
    <button class="btn btn-danger">Delete Acount</button>
</form>
<h1>User Profile</h1>

<ul>
    <li><%= user.displayName %></li>    
    <li><%= user.email %></li>    
    <li><%= user.preferredCurrency %></li>    
</ul>