<%- layout('./layout/boilerplate.ejs') %>
<h3>Explain your financial goals in simple terms</h3>

<p>Include the target amount you are trying to reach, 
    the current amount you have in savings or deposit for this goal and 
    we will give you a plan to reach this goal 
    and also show you how are you progressing towards this goal

</p>

<form action="/goals" method="post" class="needs-validation" novalidate>
    <textarea name="explain" id="explain" placeholder="explain your financial goal to the best of your terms" cols="50" rows="12"></textarea>
    <button class="btn btn-primary">Enter</button>
</form>