<% layout('layout/boilerplate.ejs') %>

<div>
    <ul>
        <% for(let transaction of transactions){ %>
            <li><%= transaction.name %></li>
            <li><%= transaction.type %></li>
            <li><%= transaction.category %></li>
            <li><%= transaction.description %></li>
        <% } %>
    </ul>
</div>