<% layout('layout/boilerplate.ejs') %>

<h2>New Transaction</h2>

<form action="/transactions" method="post" class="needs-validation" novalidate>
    <label for="name" class="form-label">Transaction Name</label>
    <input type="text" class="form-control" name="name" placeholder="Transaction Name" required>
    
    <label for="type" class="form-label">Transaction Type</label>
    <div class="form-control">
        <input type="radio" name="type" value="income" required> Income
        <input type="radio" name="type" value="expense"> Expense
    </div>


    <label for="amount" class="form-label">Amount</label>
    <input type="number" class="form-control" name="amount" id="amount" placeholder="Amount In $" required>

    <label for="date" class="form-label">Date</label>
    <input type="date" class="form-control" name="date" id="date" required>

    <label class="form-label">Category</label>
    <select name="category" class="form-select" required>
        <option value="select">Select a category</option>
        <option value="rent">Rent</option>
        <option value="food">Food</option>
        <option value="shopping">Shopping</option>
        <option value="salary">Salary</option>
        <option value="goal-savings">Goal Savings 💰</option>
    </select>
    
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" placeholder="Description"></textarea>

    <button class="btn btn-primary m-2" type="submit">Enter</button>
</form>